{% load i18n %}
<div class="cms-color-field">
  <input type="color"
         name="{{ widget.name }}"
         value="{{ widget.value|default:'#dff250' }}"
         class="cms-color-input__picker"
         {% include "django/forms/widgets/attrs.html" %}>
  <input type="text"
         class="cms-color-input__hex"
         value="{{ widget.value|default:'#dff250' }}"
         maxlength="7"
         spellcheck="false"
         autocomplete="off"
         aria-label="{% trans 'Hex color' %}"
         data-cms-color-hex>
</div>
